<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facebook</title>
</head>
<body>
    <h3><%= username %></h3>
    <h4>Followers = <%= Math.floor(Math.random()*10000)+1 %></h4>
    <h5>Likes = <%= Math.floor(Math.random()*100000)+1 %></h5>
    <button>Follow</button>
    <button>&hearts;</button>
</body>
</html>