<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facebook</title>
</head>

<body>
    <h1><a href="https://www.facebook.com" target="_blank">Facebook</a></h1>
    <h3>
        <%= username %>
    </h3>
    <h4>Followers = <%= Math.floor(Math.random()*1000000)+1 %>
    </h4>
    <% if(followers>=1000000) { %>

        <p>Verified </p>
        <% }%>
    <!-- <h5>Likes = <%= Math.floor(Math.random()*100000)+1 %></h5> -->
    <button>Follow</button>
    <button>&hearts;</button>
</body>

</html>