<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram</title>
</head>

<body>
    <h1><a href="https://www.instagram.com" target="_blank">Instagram</a></h1>
    <h2>
        <%= username %> 
    </h2>

    
    <h5>followers = <%= followers %></h5>
    <% if(followers >= no_Followers) {%>
        <p>Verified&#10004;</p>
        <% }else{ %>
            <p>Unverified&#63;</p>
        <% } %>
            

    <button>Follow</button>
    <button>&hearts;</button>


    <h2>Followers List : </h2>
    <ul>
        <% for(let name of friends){ %>
            <li>
                <%= name %>
            </li>
            <% } %>
    </ul>
</body>

</html>